<phpunit>
  <testsuites>
		<testsuite name="Package Test Suite">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist
			addUncoveredFilesFromWhitelist="false"
			processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
</phpunit>
